<html>

<head>
<title> Add Review For {{ courseId }}</title>

</charset="utf-8">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{STATIC_URL}}/bootstrap.css">

</head>

<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://5chackathoneros.ddns.net/">EROS</a>
        </div>

        <!-- NAV BAR -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form  method="post" action=
            "" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
                <input type="submit" class="btn btn-default glyphicon glyphicon-search" value="Go!"/>
            </form>
            
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <h5 id="helloUser">Hello, {{ user.username }}. &nbsp</h5>
                    <form method="post" action="{% url 'django.contrib.auth.views.logout' %}">
			{% csrf_token %}
                        <input type="submit" class="btn btn-default navbar-btn" value="Logout"/>
                    </form>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <a href="/accounts/login"><button type="submit" class="btn btn-default navbar-btn">Login</button></a>
                </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

<div class="col-xs-12">
    <div class="col-xs-12 col-sm-3"></div>

    <div class="col-xs-12 col-sm-9">
    <h1> Add Review For {{ courseId }} </h1><br>

    <form method="post" action="/submitreview/{{ courseId }}/">
	{% csrf_token %}

        <b>Rating</b><br>
            <select name="rating">
                <option value="0">0</option>
                <option value="0.5">0.5</option>
                <option value="1.0">1</option>
                <option value="1.5">1.5</option>
                <option value="2.0">2</option>
                <option value="2.5">2.5</option>
                <option value="3.0">3</option>
                <option value="3.5">3.5</option>
                <option value="4.0">4</option>
                <option value="4.5">4.5</option>
                <option value="5.0">5</option>
            </select>
        <br><br>

        <b>Review</b><br>
            <textarea rows="10" cols="80" name="review">
            </textarea><br><br>

        <input type="submit" value="Submit" class="btn btn-default">
    </form>
    </div>
</div>

</body>
