<html>

<head>

<title>EROS</title>

</charset="utf-8">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{STATIC_URL}}/bootstrap.css">

<body>

    <nav class="navbar navbar-default" role="navigation">
   		<div class="container-fluid">
    	<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            	<span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
        	</button>
        	<a class="navbar-brand" href="http://5chackathoneros.ddns.net/">EROS</a>
    	</div>

    	<!-- NAV BAR -->
    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        	<form  method="post" action=
            "" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
                <input type="submit" class="btn btn-default glyphicon glyphicon-search" value="Go!"/>
            </form>
        	
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <div style="display:inline;">
                        <h5 id="helloUser">Hello, {{ user.username}}. &nbsp</h5>
                        <form method="post" action="{% url 'django.contrib.auth.views.logout' %}" id="logoutButt">
                            <input type="submit" class="btn btn-default navbar-btn navbar-right" value="Logout"/>
                        </form>
                    </div>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                	<a href="/accounts/login"><button type="submit" class="btn btn-default navbar-btn">Login</button></a>
            	</ul>
            {% endif %}
    	</div><!-- /.navbar-collapse -->
  		</div><!-- /.container-fluid -->
		</nav>


    <div>
        <div class="col-xs-12 col-sm-3">
            <a href="/addcourse"><button type="submit" class="btn btn-default btn-lg" id="addButton">Add Course</button></a>
            <h3>Course Subjects</h3>
            <div class="list-group">
		{% for code, longname in courseCodes %}
                <a href="/subject/{{ code }}" class="list-group-item">{{ longname }}</a>
		{% endfor %}
            </div>
        </div>
        <div class="col-xs-12 col-sm-9">
            <h2 id="topCourses">Top Rated Courses</h2>
            {% for course, rating in topCourses %}
                <div class="topReview">
                <a href="/viewcourse/{{course.courseID}}/"><h4 id="homeTitle">{{course.name}} &nbsp</h4></a><h4 class="rating">{{rating}}</h4><h5 class="of5">/5</h5><p class="homeSubj">{{course.subject}}</p>
                </div>
            {% endfor %}
        </div>
    </div>	


<!-- look at that Javascript -->

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
