<html>

<head> 

<title> Login </title>

</charset="utf-8">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../bootstrap.css">

</head>

<body>
<div class="col-xs-12">
{% if form.errors %}
<p>Your username and password didn't match! Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
</div>

<div class="col-xs-12">
	<div class="col-xs-3"></div>
	<div class="col-xs-9">
		<input type="submit" class="btn btn-default navbar-btn" value="Login"/>
	</div>
</div>

</form>

</body>

