<html>

<head>
<title> {{subject}}  </title>

</charset="utf-8">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{STATIC_URL}}/bootstrap.css">

</head>

<body>

	<nav class="navbar navbar-default" role="navigation">
   		<div class="container-fluid">
    	<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            	<span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
        	</button>
        	<a class="navbar-brand" href="#">EROS</a>
    	</div>

    	<!-- NAV BAR -->
    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        	<form  method="post" action=
            "" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
                <input type="submit" class="btn btn-default glyphicon glyphicon-search" value="Go!"/>
            </form>
        	
            {% if request.user.is_authenticated() %}
                <ul class="nav navbar-nav navbar-right">
                    <h5 id="helloUser">Hello, {{ user.username }}. &nbsp</h5>
                    <form method="post" action="{% url 'django.contrib.auth.views.logout' %}">
                        <input type="submit" class="btn btn-default navbar-btn" value="Logout"/>
                    </form>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                	<a href="/accounts/login"><button type="submit" class="btn btn-default navbar-btn">Login</button></a>
            	</ul>
            {% endif %}
    	</div><!-- /.navbar-collapse -->
  		</div><!-- /.container-fluid -->
	</nav>


<div class="col-xs-12">
    <div class="col-xs-12 col-sm-1"></div>

    <div class="col-xs-12 col-sm-11">
	<!--	{% for subject in subject_list %} -->
		<h2>Courses in {{ subject }}</h2>
		    <div class="topReview">
		        <a href="#"><h4 id="homeTitle">COURSE TITLE &nbsp</h4></a><h4 class="rating">4.5</h4><h5 class="of5">/5</h5>
		        <p class="homeProfSubj">Prof 1, Prof 2, Prof 3...</p>
		    </div>
		    <div class="topReview">
		        <a href="#"><h4 id="homeTitle">COURSE TITLE &nbsp</h4></a><h4 class="rating">4.5</h4><h5 class="of5">/5</h5>
		        <p class="homeProfSubj">Prof 1, Prof 2, Prof 3...</p>
		    </div>
	<!--	{% endfor %} -->
	</div>
</div>

</body>
